extend layout

block content
  if session
    a(href='/add', class='upload') Upload a new meme!
  else
    a(href='/auth/appdotnet', class='login') Sign in with App.net
    a(href='javascript:;', data-action='login', class='login') Sign in with Persona

  ul.memes
    for meme in memes
      li
        a(href='/meme/#{meme.key}')
          img(src='#{meme.url}')
