extend layout

block content
  if session
    form(method='post', action='/upload')
      input(type='file', id='photo-file', accept='image/*', required)
      input(type='text', name='text', class='text-input', required)
      input(type='hidden', name='photo', class='file-input')
      input(type='text', name='fileType', class='file-type')
      button(type='submit') Upload!
  else
    a(href='/auth/appdotnet', class='login') Sign in with App.net
    a(href='javascript:;', data-action='login', class='login') Sign in with Persona
